<form action="/forgetpassword" method="PUT">
    <div>
        <input type="password" name="password" placeholder="password" required>
        <label for="password">New Pawword</label>
        <input type="password" name="new password" placeholder="New password" required>
        <label for="newepassword">Confirm Password</label>
        <div>
            <button type="submit">submit</button>
        </div>
    </div>
</form>